.container {
}

.container > h1 {
    text-align: center;
}

table {
    border: 1px solid black;
    margin: 0 auto;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

tr:nth-of-type(2n + 2) {
    background-color: rgb(236, 236, 236);
}

.form-container {
    margin-top: 10px;
}

form {
    text-align: center;
}

input {
    padding: 5px;
}